.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
}

/* header */
header{
    grid-area: header;
    background-image: url("img/filmstrip.jpg");
    
    background-position: center;
    
    height: 20vh;
    
}

.sidebar{
    grid-area: sidebar;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: white;
}


table{
    padding: 5px;

    /* font-family: 'Inter', sans-serif; */
}
th{
    text-align: left;
}

td{
    padding-right: 10px
}
tr{
    outline: thin solid black;
}

.code{
    font-size: smaller;
    
}



.one{
    text-indent: 2em;
    
    
}

.two{
    text-indent: 4em;
    
    
}